# URL Koneksi PostgreSQL (Dapatkan dari Supabase -> Project Settings -> Database -> Connection URI)
# Contoh format: postgres://postgres.yourprojectid:yourpassword@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.xibdvvzyrkbluepbimlz.supabase.co:5432/postgres

# Port default server backend
PORT=3000
